body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  background-image: url(https://assets.housingsnap.com/uploads/paragraph/image/347245/ed5b1390da91ad9193f45ec483f12159_watermark.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-size: 16px;
}

.container {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  text-align: center;
  max-width: 600px;
  width: 300%;
  font-size: 18px;
}

.input-group {
  margin-bottom: 50px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  font-size: 18px;

}

button {
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  background-color: #6696c6;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}