body {
  font-family: Arial, sans-serif;
  color: #f5f5f5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(C:\Users\Honey\Documents\Marian\background\bg2.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}

.container {
  width: 800px; 
  padding: 40px; 
  border-radius: 5px;
  background-color: #16471d;
  text-align: center;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.option {
  padding: 10px;
  border: 1px solid #96f39f;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
}

.option.correct {
  background-color: #4CAF50; /* green */
  color: white;
}

.option.wrong {
  background-color: #f44336; /* red */
  color: white;
}


.option:hover {
  background-color: #9ad09d;
}

.result {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #7098c3;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
}

button:hover {
  background-color: #096fdb;
}
